{% extends "shop/base_template.html" %}		
{% block header %}<header class="header-v4">{% endblock %}	

	{% block active %}
	{% load static %}	
	<div class="menu-desktop">
		<ul class="main-menu">
			<li>
				<a href="{% url 'home' %}">Accueil</a>
			</li>

			<li>
				<a href="{% url 'boutique' %}">Boutique</a>
			</li>

			<li class="active-menu">
				<a href="{% url 'apropos' %}">A propos</a>
			</li>

			<li>
				<a href="{% url 'contact' %}">Contact</a>
			</li>
		</ul>
	</div>
	{% endblock %}


	{% block contente %}
	{% load static %}	


	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92 imageflate">
		<h2 class="ltext-105 cl0 txt-center">
			A propos
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Bienvenue sur Don-Shop
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Chez Don-shop, nous croyons que chaque achat en ligne devrait être une expérience exceptionnelle. Notre histoire a commencé avec une passion pour l'électronique de pointe, et nous avons depuis lors travaillé sans relâche pour offrir à nos clients les meilleurs produits et services.
						</p>

						<p class="stext-113 cl6 p-b-26">
							Nous sommes conscients de l'impact environnemental de nos activités, et c'est pourquoi nous nous engageons à réduire notre empreinte carbone, Nous croyons en un avenir meilleur, et nous travaillons chaque jour pour y parvenir. 
						</p>

					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="{% static 'images/about-01.jpg' %}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Notre Mission
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Notre mission est simple : rendre la vie de nos clients plus facile en leur proposant des produits de qualité, à des prix compétitifs, et en leur offrant un service exceptionnel. Nous sommes déterminés à satisfaire tous vos besoins
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								Nous sommes ravis de vous avoir ici, et nous espérons que vous ferez partie de notre communauté grandissante de clients satisfaits. Explorez notre site, découvrez nos produits exceptionnels, et n'hésitez pas à nous contacter si vous avez des questions ou des commentaires. Ensemble, nous pouvons créer une 										expérience d'achat en ligne inoubliable.
								Merci de nous faire confiance.
								L'équipe de Don-shop
							</p>

							<span class="stext-111 cl8">
								-Meleine don 
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="{% static 'images/about-02.jpg' %}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	{% endblock %}
	{% block form %}
	<div class="col-sm-6 col-lg-3 p-b-50">
		<h4 class="stext-301 cl0 p-b-30">
			Newsletter
		</h4>
		
		<form method="POST">
			{% csrf_token %}
			<div class="wrap-input1 w-full p-b-4">
				<input class="input1 bg-none plh1 stext-107 cl7" id="new_email" name="new_email" type="email" placeholder="email@exemple.com" required="">
				<div class="focus-input1 trans-04"></div>
			</div>

			<div class="p-t-18">
				<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
					Envoyer
				</button>
			</div>
		</form>
	</div>
	{% endblock %}
	
